In [1]:
import pickle as pkl
import numpy as np
import torch
from mmseg.datasets.cityscapes import CityscapesDataset
CLASSES = CityscapesDataset.CLASSES
import pandas as pd

/srv/flash1/skareer6/miniconda3/envs/mic/lib/python3.8/site-packages/torch/cuda/__init__.py:52: UserWarning: CUDA initialization: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/index.aspx (Triggered internally at  /pytorch/c10/cuda/CUDAFunctions.cpp:100.)
  return torch._C._cuda_getDeviceCount() > 0

No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'

In [2]:
# path = "../../work_dirs/mmv5/invfn1_4gpu_gta_hrdargb_05-15-18-07-28/eval_results.pkl"
# path = "/coc/testnvme/skareer6/Projects/VideoDA/mmsegmentation/work_dirs/viperHR2csHR_mic_segformer_mm/eval_results4.pkl"
# path = "/coc/testnvme/skareer6/Projects/VideoDA/experiments/mmsegmentationExps/work_dirs/mmdg/vdammv3-4g06-08-14-45-10/eval_results4.pkl"
path = "../../work_dirs/mmdg/vdammBNFix-4g06-09-18-18-06/eval_results8.pkl"

with open(path, "rb") as f:
    data = pkl.load(f)

In [3]:
i_data_dict = {k: v for k, v in data["cml_intersect"].items() if v.sum() != 0}
u_data_dict = {k: v for k, v in data["cml_union"].items() if v.sum() != 0}
iou_data_dict = {k: v / u_data_dict[k] for k, v in i_data_dict.items()}

pixel_correct_data_dict = {k: v for k, v in data["pixelwise_correct"].items() if v.sum() != 0}
pixel_total_data_dict = {k: v for k, v in data["pixelwise_total"].items() if v.sum() != 0}
pixel_acc_data_dict = {k: v / pixel_total_data_dict[k] for k, v in pixel_correct_data_dict.items()}

In [4]:
iou_data_dict["Class"] = CLASSES
pixel_acc_data_dict["Class"] = CLASSES

In [5]:
iou_df = pd.DataFrame.from_dict(iou_data_dict).set_index("Class").T
iou_df["Average"] = iou_df.mean(axis=1)
pixel_acc_df = pd.DataFrame.from_dict(pixel_acc_data_dict).set_index("Class").T
pixel_acc_df["Average"] = pixel_acc_df.mean(axis=1)

In [6]:
iou_df[["Average"]]

Class           Average
mIoU           0.495509
branch_consis  0.520370
branch1_miou   0.491646
branch2_miou   0.498899

In [8]:
iou_df

Class,road,sidewalk,building,wall,fence,pole,traffic light,traffic sign,vegetation,terrain,sky,person,rider,car,truck,bus,train,motorcycle,bicycle,Average
mIoU,0.710933,0.282460,0.863723,NaN,0.125175,NaN,0.548390,0.377083,0.857837,0.305340,0.848454,0.741101,NaN,0.602478,0.372220,0.305234,NaN,0.231026,0.261181,0.495509
branch_consis,0.735561,0.288407,0.883180,NaN,0.108807,NaN,0.573889,0.383287,0.876128,0.326244,0.863408,0.786916,NaN,0.675622,0.414118,0.315800,NaN,0.303319,0.270856,0.520370
branch1_miou,0.702923,0.281544,0.861763,NaN,0.128978,NaN,0.548022,0.377621,0.857163,0.303154,0.848085,0.737545,NaN,0.579977,0.364358,0.304231,NaN,0.220754,0.258577,0.491646
branch2_miou,0.729260,0.279161,0.865044,NaN,0.115727,NaN,0.533693,0.366132,0.854676,0.303332,0.845043,0.731157,NaN,0.658190,0.391137,0.301964,NaN,0.248737,0.260227,0.498899

In [7]:
pixel_acc_df[["Average"]]

Class           Average
mIoU           0.620152
branch_consis  0.634420
branch1_miou   0.619453
branch2_miou   0.615676

In [9]:
def get_metrics(confusion_matrix):
    confusion_matrix = pd.DataFrame(confusion_matrix)
    confusion_matrix.index = CLASSES
    confusion_matrix.columns = CLASSES
    FP = confusion_matrix.sum(axis=0) - np.diag(confusion_matrix)  
    FN = confusion_matrix.sum(axis=1) - np.diag(confusion_matrix)
    TP = np.diag(confusion_matrix)
    TN = confusion_matrix.values.sum() - (FP + FN + TP)

    # Sensitivity, hit rate, recall, or true positive rate
    TPR = TP/(TP+FN)
    # Specificity or true negative rate
    TNR = TN/(TN+FP) 
    # Precision or positive predictive value
    PPV = TP/(TP+FP)
    # Negative predictive value
    NPV = TN/(TN+FN)
    # Fall out or false positive rate
    FPR = FP/(FP+TN)
    # False negative rate
    FNR = FN/(TP+FN)
    # False discovery rate
    FDR = FP/(TP+FP)

    # Overall accuracy
    ACC = (TP+TN)/(TP+FP+FN+TN)

    metrics = {"FP": FP, 
                "FN": FN,
                "TP": TP,
                "TN": TN,
                "TPR": TPR,
                "TNR": TNR,
                "PPV": PPV,
                "NPV": NPV,
                "FPR": FPR,
                "FNR": FNR,
                "FDR": FDR,
                "ACC": ACC}
    return metrics


def get_normalized_cf(confusion_matrix):
    confusion_matrix /= confusion_matrix.sum(axis=1, keepdims=True)
    confusion_matrix = pd.DataFrame(confusion_matrix)
    confusion_matrix.index = CLASSES
    confusion_matrix.columns = CLASSES
    return (confusion_matrix).round(3)

In [10]:
metrics = get_metrics(data['confusion_matrix']['mIoU'].numpy())
cf = get_normalized_cf(data['confusion_matrix']['mIoU'].numpy())

/tmp/ipykernel_3046401/2748627673.py:44: RuntimeWarning: invalid value encountered in true_divide
  confusion_matrix /= confusion_matrix.sum(axis=1, keepdims=True)